* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Slide Show Gallery start */
.slide-show-gallery {
  width: 100%;
  background-color: #222;
  text-align: center;
  min-height: 100vh;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 900px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.show-images {
  overflow: hidden;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  z-index: 9;
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  z-index: 9;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 20px 16px;
  color: white;
}
/* class for animation fade  */
.slide-anim {
  animation: caption 1s linear forwards;
  -webkit-animation: caption 0.4s linear forwards;
}
@keyframes caption {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.thumbImg {
  opacity: 0.6;
}

.active,
.thumbImg:hover {
  opacity: 1;
  position: relative;
  z-index: 9;
  transition: 0.3s;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* positioning dots */
.dots-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.dots-container ul {
  display: flex;
  column-gap: 15px;
  list-style: none;
}
.dots-container ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d1d1d1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.dot-active,
.dots-container ul li:hover {
  background-color: #9b9b9b;
}
/* slide show gallery end */
